<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">			<!--
                                     CSS
                                     ============================================= -->
<link rel="stylesheet" href="../../../resources/static/css/linearicons.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../resources/static/css/bootstrap.css">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->

<link rel="stylesheet" href="../../../resources/static/css/magnific-popup.css">
<link rel="stylesheet" href="../../../resources/static/css/jquery-ui.css">
<link rel="stylesheet" href="../../../resources/static/css/nice-select.css">
<link rel="stylesheet" href="../../../resources/static/css/animate.min.css">
<link rel="stylesheet" href="../../../resources/static/css/owl.carousel.css">
<link rel="stylesheet" href="../../../resources/static/css/main.css">
